.App {
	background-color: OldLace;
	height: 100vh;
	width: 100vw;
}

.app-name {
	max-height: 5vh;
	font-size: 4vh;
	font-weight: bolder;
	margin-right: 1vw;
}

.header-text-blue {
	font-style: italic;
	display: inline-block;
}

.header-text-red {
	font-style: italic;
	display: inline-block;
}

.header-text-blue::first-letter {
	color: RoyalBlue;
}

.header-text-red::first-letter {
	color: OrangeRed;
}

.right-aligned-text {
	text-align: right;
}

.file-folder-background {
	background-color: Beige;
	border: 1px solid Chocolate;
}

.file-folder-body {
	padding: 10px 5px 5px 5px;
	height: 90%;
	margin: 0 1vw 1vh 1vw;
	border-radius: 0 10px 10px 10px;
}
